.dashboard_heading
{
	font-weight: 700;
	color: #21409a !important;
	text-transform: uppercase;
}
.dashboard_heading span
{
	color: #6e6e6e;
	font-weight: 300;
}
.dashboard_heading2
{
	font-size: 12px;
}
.dashboard_tabs .nav-tabs
{
	border: 0;
}
.dashboard_tabs .nav-tabs li {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #7e7f7f;
    position: relative;
    margin: 0 80px;
    width: 100px;
}
.dashboard_tabs .nav-tabs li:last-child
{
	margin-right: 0;
}
.dashboard_tabs .nav-tabs li a
{
	font-size: 24px;
	display: block;
	padding: 10px 5px;
	box-sizing: border-box;
	border-radius:  50%;
	background: pink;
	text-align: center;
/*	width: 80%;*/
	margin: 0 auto;
	width: 60px;
	height: 60px;
}
.dashboard_tabs .nav-tabs .pro_done a 
{
	background: #90c744;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_working a 
{
	background: #21409a;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_pending a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.dashboard_tabs .nav-tabs .equal_pro a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.floting
{
	float: left;
}
.tab-content
{
	margin-top: 30px;
}
.dashboard_tabs .nav-tabs .pro_done a 
{
	background: #90c744;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_working a 
{
	background: #21409a;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_pending a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.dashboard_tabs .nav-tabs .equal_pro a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.dashboard_tabs .nav-tabs li
{
	position: relative;
}
.dashboard_tabs .nav-tabs .col-md-2::after
{
	content: '';
	width: 50px;
	height: 2px;
	background: #7e7f7f;
	position: absolute;
	left: 200px;
	top: 50px;
}
.dashboard_tabs .nav-tabs .col-md-2:last-child::after
{
	display: none;
}
/*

.pro_done::before {
    content: '';
    width: 120%;
    height: 10px;
    background: #90c744;
    position: absolute;
    left: -90px;
    top: 45px;
}
.pro_working::before {
    content: '';
    width: 177%;
    height: 10px;
    background: #21409a;
    position: absolute;
    left: -179px;
    top: 45px;
}
.pro_pending::before {
    content: '';
    width: 227%;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    left: -191px;
    top: 45px;
}
.equal_pro a::before {
    content: '';
    width: 305% !important;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    left: -177px;
    top: 45px;
}
.dashboard_tabs .nav-tabs li:last-child.equal_pro::after {
    content: '';
    width: 900%;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    right: -590px;
    top: 45px;
}
*/
.dashboard_tabs label
{
	color: #21409a;
	font-weight: 400 !important;
	text-transform: uppercase;
	margin: 0;
	font-size: 14px;
}
.form-control {
    border: 2px solid #ced4da;
}
.border_div
{
	width: 100%;
	height: 2px;
	background: #dddddd;
	margin: 20px 0;
}
.dashboard_tabs form
{
	width: 100%;
}
.btn_save
{
	background: #90c744;
	border: #90c744 solid 1px;
}
.btn_cncl
{
	background: #bebfc2;
	border: #bebfc2 solid 1px;
}
#add_address label
{
	cursor: pointer;
}
#add_address label .fa
{
	margin-top: 10px;
}
.emp_lbl
{
	font-size: 18px !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d1cfcf !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d1cfcf;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d1cfcf;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d1cfcf;
}
.nav-tabs2
{
	display: none;
}
.modal-header
{
	background: #21409A;
	padding: 2px 10px;
	box-sizing: border-box;
	color: #fff;
	
}
.modal-header h4
{
	font-size: 16px;
	text-align: center;
	font-weight: 700;
}
.modal-dialog {
	max-width: 60%;
}
.modal-body label
{
	font-weight: 400 !important;
}
@media screen and (max-width:1600px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 70px;
	}
	.dashboard_tabs .nav-tabs .col-md-2::after
	{
		display: none;
	}
}
@media screen and (max-width:1440px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 60px;
}
}
@media screen and (max-width:1336px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 50px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 120px;
	}
}
@media screen and (max-width:1280px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 40px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 110px;
	}
}
@media screen and (max-width:1150px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 25px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 100px;
}
}
@media screen and (max-width:1024px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 45px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 120px;
}
}
@media screen and (max-width:960px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 35px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 110px;
}
	.dashboard_tabs label {
    font-size: 12px;
}
}
@media screen and (max-width:850px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 25px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 100px;
}
	.modal-dialog {
    max-width: 80%;
}
}
@media screen and (max-width:768px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 13px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 87px;
}
	.dashboard_tabs .nav-tabs .col-md-2
	{
		float: left;
		width: 16%;
	}
	.stnd_lines label::before,.stnd_lines label::after,.stnd_lines2 label::before,.stnd_lines2 label::after
	{
		display: none;
	}
}
@media screen and (max-width:650px)
{
	
	.dashboard_tabs .nav-tabs li::after {
    display: none;
}
	.dashboard_tabs .nav-tabs .col-md-2
	{
		float: left;
		width:33%;
		text-align: center;
	}
	.dashboard_tabs .nav-tabs li {
    margin: 10px 2px;
    width: 100%;
}
}
@media screen and (max-width:550px)
{

	.dashboard_tabs .nav-tabs .col-md-2
	{
		float: left;
		width:33%;
		text-align: center;
	}
	.modal-dialog {
    max-width: 100%;
}
	.tables {
    overflow: scroll;
		width: 200%;
}
}
@media screen and (max-width:450px)
{
	.form-inline
	{
		display: none;
	}
	.nav-tabs1
{
	display: none;
}
	.nav-tabs2
{
	display: inline-block;
}
	.dashboard_tabs .nav-tabs2 li a {
    font-size: 18px;
    width: 50px;
    height: 50px;
}
	
}
.mrgn
{
	margin: 20px 0;
}
.results_ans
{
	color: #000 !important;
/*	font-weight: 700 !important;*/
	display: block !important;
}
.card-header
{
	padding: 5px 10px;
	box-sizing: border-box;
	background: #90c744 !important;
	color: #fff;
}
.dashboard_tabs .nav-tabs .col-md-2::after
{
	display: none;
}
.stnd_lines
{
	position: relative;
}
.stnd_lines label::before
{
	content: '';
	width: 100px;
	height: 2px;
	background: #ccc;
	position: absolute;
	left: 35%;
	top: 13px;
}
.stnd_lines label::after
{
	content: '';
	width: 100px;
	height: 2px;
	background: #ccc;
	position: absolute;
	right: 35%;
	top: 13px;
}
.stnd_lines2
{
	position: relative;
}
.stnd_lines2 label::before
{
	content: '';
	width: 100px;
	height: 2px;
	background: #ccc;
	position: absolute;
	left: 25%;
	top: 13px;
}
.stnd_lines2 label::after
{
	content: '';
	width: 100px;
	height: 2px;
	background: #ccc;
	position: absolute;
	right: 25%;
	top: 13px;
}
.data_list
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.data_list li
{
	display: inline-block;
	margin: 0 5px;
	
}
.data_list li a
{
	color: #000;
}
.data_list li .fa
{
	transition-duration: .3s;
	
}
.fa-eye:hover,.fa-pencil:hover
{
	color: #007bff;
	transition-duration: .3s;
}
.fa-close:hover
{
	color: red;
	transition-duration: .3s;
}
.add_btn
{
	color: #fff !important;
}
.add_comp
{
	color: #007bff;
	cursor: pointer;
	display: block;
	margin-top: 10px;
}

.no_pad
{
	padding: 0;
}
.dashboard_tabs .input-group-text{
	background: #007bff;
/*	background: #21409A;*/
	color: #fff;
}
.propic {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.propic + label {
	width: 100%;
/*	padding: 80px 40px;*/
	box-sizing: border-box;
/*	border-radius: 5px;*/
/*    background: #fff;*/
/*	text-align: center;*/
	font-size: 13px;
	color: #737373;
	font-weight: 400;
/*	border: #e3e3e3 solid 1px;*/
	cursor: pointer;
	display: block;
}
.upload_documt

{

	overflow: hidden;

	position: relative;

font-weight: 400;

}



.upload_documt [type=file] {

    cursor: inherit;

    display: block;

    font-size: 999px;

    filter: alpha(opacity=0);

    min-height: 100%;

    min-width: 100%;

    opacity: 0;

    position: absolute;

    right: 0;

    text-align: right;

    top: 0;

}
.tables thead
{
	background: #90c744 !important;
	color: #fff;
}
.table thead th {
    vertical-align: middle;

}
.tbl_brdr
{
	margin: 5px 0;
	padding: 0;
	width: 100%;
	height: 1px;
	background: #fff;
}
.custom_cont_wrapper
{
	background: #fff;
}
.card_cutom
{
	    background: #f4f6f9;
}
.toggle-group .btn-success
{
	color: #fff !important;
}
.grey_bg
{
	background: #e9ecef;
}
.blue_text
{
	color: #21409a;
}