.dashboard_heading
{
	font-weight: 700;
	color: #21409a !important;
	text-transform: uppercase;
}
.dashboard_heading span
{
	color: #6e6e6e;
	font-weight: 300;
}
.dashboard_heading2
{
	font-size: 12px;
}
.dashboard_tabs .nav-tabs
{
	border: 0;
}
.dashboard_tabs .nav-tabs li {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #7e7f7f;
    position: relative;
    margin: 0 80px;
    width: 100px;
}
.dashboard_tabs .nav-tabs li:last-child
{
	margin-right: 0;
}
.dashboard_tabs .nav-tabs li a
{
	font-size: 24px;
	display: block;
	padding: 10px 5px;
	box-sizing: border-box;
	border-radius:  50%;
	background: pink;
	text-align: center;
/*	width: 80%;*/
	margin: 0 auto;
	width: 60px;
	height: 60px;
}
.dashboard_tabs .nav-tabs .pro_done a 
{
	background: #90c744;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_working a 
{
	background: #21409a;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_pending a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.dashboard_tabs .nav-tabs .equal_pro a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.floting
{
	float: left;
}
.tab-content
{
	margin-top: 30px;
}
.dashboard_tabs .nav-tabs .pro_done a 
{
	background: #90c744;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_working a 
{
	background: #21409a;
	color: #fff;
}
.dashboard_tabs .nav-tabs .pro_pending a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.dashboard_tabs .nav-tabs .equal_pro a 
{
	background: #bebfc2;
	color: #5d5d5d;
}
.dashboard_tabs .nav-tabs li
{
	position: relative;
}
.dashboard_tabs .nav-tabs li::after
{
	content: '';
	width: 50px;
	height: 2px;
	background: #7e7f7f;
	position: absolute;
	left: 150px;
	top: 50px;
}
.dashboard_tabs .nav-tabs li:last-child::after
{
	display: none;
}
/*

.pro_done::before {
    content: '';
    width: 120%;
    height: 10px;
    background: #90c744;
    position: absolute;
    left: -90px;
    top: 45px;
}
.pro_working::before {
    content: '';
    width: 177%;
    height: 10px;
    background: #21409a;
    position: absolute;
    left: -179px;
    top: 45px;
}
.pro_pending::before {
    content: '';
    width: 227%;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    left: -191px;
    top: 45px;
}
.equal_pro a::before {
    content: '';
    width: 305% !important;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    left: -177px;
    top: 45px;
}
.dashboard_tabs .nav-tabs li:last-child.equal_pro::after {
    content: '';
    width: 900%;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    right: -590px;
    top: 45px;
}
*/
.dashboard_tabs label
{
	color: #21409a;
	font-weight: 400 !important;
	text-transform: uppercase;
	margin: 0;
	font-size: 14px;
}
.form-control {
    border: 2px solid #ced4da;
}
.border_div
{
	width: 100%;
	height: 2px;
	background: #dddddd;
	margin: 20px 0;
}
.dashboard_tabs form
{
	width: 100%;
}
.btn_save
{
	background: #90c744;
	border: #90c744 solid 1px;
}
.btn_cncl
{
	background: #bebfc2;
	border: #bebfc2 solid 1px;
}
#add_address label
{
	cursor: pointer;
}
#add_address label .fa
{
	margin-top: 10px;
}
.emp_lbl
{
	font-size: 18px !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d1cfcf !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d1cfcf;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d1cfcf;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d1cfcf;
}
.nav-tabs2
{
	display: none;
}
@media screen and (max-width:1600px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 70px;
	}
}
@media screen and (max-width:1440px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 60px;
}
}
@media screen and (max-width:1336px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 50px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 120px;
	}
}
@media screen and (max-width:1280px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 40px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 110px;
	}
}
@media screen and (max-width:1150px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 25px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 100px;
}
}
@media screen and (max-width:1024px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 45px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 120px;
}
}
@media screen and (max-width:960px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 35px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 110px;
}
	.dashboard_tabs label {
    font-size: 12px;
}
}
@media screen and (max-width:850px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 25px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 100px;
}
}
@media screen and (max-width:768px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 13px;
}
	.dashboard_tabs .nav-tabs li::after {
    left: 87px;
}
	
}
@media screen and (max-width:650px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 0 2px;
}
	.dashboard_tabs .nav-tabs li::after {
    display: none;
}
}
@media screen and (max-width:550px)
{
	.dashboard_tabs .nav-tabs li {
    margin: 5px 2px;
    width: 30%;
}
}
@media screen and (max-width:450px)
{
	.form-inline
	{
		display: none;
	}
	.nav-tabs1
{
	display: none;
}
	.nav-tabs2
{
	display: inline-block;
}
	.dashboard_tabs .nav-tabs2 li a {
    font-size: 18px;
    width: 50px;
    height: 50px;
}
	.dashboard_tabs .nav-tabs2 li {
    margin: 5px 2px;
    width: 18%;
    float: left;
}
}