body {
    font-size: 0.875rem;
}

createManDayModal.dashboard_heading {
    font-weight: 700;
    color: #21409a !important;
    text-transform: uppercase;
}

.dashboard_heading span {
    color: #6e6e6e;
    font-weight: 300;
}

.dashboard_heading2 {
    font-size: 12px;
}

.dashboard_tabs .nav-tabs {
    border: 0;
}

.dashboard_tabs .nav-tabs li {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #7e7f7f;
    position: relative;
    margin: 0 80px;
    width: 100px;
}

.dashboard_tabs .nav-tabs li:last-child {
    margin-right: 0;
}

.dashboard_tabs .nav-tabs li a {
    font-size: 24px;
    display: block;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 50%;
    background: pink;
    text-align: center;
    /*	width: 80%;*/
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.dashboard_tabs .nav-tabs .pro_done a {
    background: #90c744;
    color: #fff;
}

.dashboard_tabs .nav-tabs .pro_working a {
    background: #21409a;
    color: #fff;
}

.dashboard_tabs .nav-tabs .pro_pending a {
    background: #bebfc2;
    color: #5d5d5d;
}

.dashboard_tabs .nav-tabs .equal_pro a {
    background: #bebfc2;
    color: #5d5d5d;
}

.floting {
    float: left;
}

.tab-content {
    margin-top: 30px;
}

.dashboard_tabs .nav-tabs .pro_done a {
    background: #90c744;
    color: #fff;
}

.dashboard_tabs .nav-tabs .pro_working a {
    background: #21409a;
    color: #fff;
}

.dashboard_tabs .nav-tabs .pro_pending a {
    background: #bebfc2;
    color: #5d5d5d;
}

.dashboard_tabs .nav-tabs .equal_pro a {
    background: #bebfc2;
    color: #5d5d5d;
}

.dashboard_tabs .nav-tabs li {
    position: relative;
}

.dashboard_tabs .nav-tabs .col-md-2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #7e7f7f;
    position: absolute;
    left: 200px;
    top: 50px;
}

.dashboard_tabs .nav-tabs .col-md-2:last-child::after {
    display: none;
}

/*

.pro_done::before {
    content: '';
    width: 120%;
    height: 10px;
    background: #90c744;
    position: absolute;
    left: -90px;
    top: 45px;
}
.pro_working::before {
    content: '';
    width: 177%;
    height: 10px;
    background: #21409a;
    position: absolute;
    left: -179px;
    top: 45px;
}
.pro_pending::before {
    content: '';
    width: 227%;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    left: -191px;
    top: 45px;
}
.equal_pro a::before {
    content: '';
    width: 305% !important;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    left: -177px;
    top: 45px;
}
.dashboard_tabs .nav-tabs li:last-child.equal_pro::after {
    content: '';
    width: 900%;
    height: 10px;
    background: #bebfc2;
    position: absolute;
    right: -590px;
    top: 45px;
}
*/
.dashboard_tabs label {
    color: #4583c4;
    /*	color: #21409a;*/
    font-weight: 400 !important;
    /*	text-transform: uppercase;*/
    margin: 0;
    /*	font-size: 14px;*/
    font-size: 17px;
}

.form-control {
    border: 2px solid #ced4da;
}

.border_div {
    width: 100%;
    height: 2px;
    background: #e8e8e8;
    /*	background: #dddddd;*/
    margin: 20px 0;
}

.dashboard_tabs form {
    width: 100%;
}

.btn_save {
    background: #90c744;
    border: #90c744 solid 1px;
}

.btn_cncl {
    background: #bebfc2;
    border: #bebfc2 solid 1px;
}

#add_address label {
    cursor: pointer;
}

#add_address label .fa {
    margin-top: 10px;
}

.emp_lbl {
    font-size: 18px !important;
    color: #2e3236 !important;
}

.emp_lbl span {
    font-weight: 400 !important;
    color: #2e3236 !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d1cfcf !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d1cfcf;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #d1cfcf;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d1cfcf;
}

.nav-tabs2 {
    display: none;
}

.modal-header {
    background: #4583c4;
    padding: 2px 10px;
    box-sizing: border-box;
    color: #fff;
}

.modal-header h4 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.modal-dialog {
    max-width: 60%;
}

.modal-body label {
    font-weight: 400 !important;
}

.mrgn {
    margin: 20px 0;
}

.results_ans {
    font-size: 14px;
    line-height: 24px;
    color: #707070 !important;
    /*	color: #000 !important;*/
    /*	font-weight: 700 !important;*/
    display: block !important;
}

.card-header {
    padding: 5px 10px;
    box-sizing: border-box;
    background: #90c744 !important;
    color: #fff;
}

.dashboard_tabs .nav-tabs .col-md-2::after {
    display: none;
}

.stnd_lines {
    position: relative;
}

.stnd_lines label::before {
    content: "";
    width: 100px;
    height: 2px;
    background: #ccc;
    position: absolute;
    left: 35%;
    top: 13px;
}

.stnd_lines label::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #ccc;
    position: absolute;
    right: 35%;
    top: 13px;
}

.stnd_lines2 {
    position: relative;
}

.stnd_lines2 label::before {
    content: "";
    width: 100px;
    height: 2px;
    background: #ccc;
    position: absolute;
    left: 25%;
    top: 13px;
}

.stnd_lines2 label::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #ccc;
    position: absolute;
    right: 25%;
    top: 13px;
}

.data_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.data_list li {
    display: inline-block;
    margin: 0 5px;
}

.data_list li a {
    color: #000;
    cursor: pointer;
}

.data_list li .fa {
    transition-duration: 0.3s;
}

.fa:hover {
    color: #007bff;
    transition-duration: 0.3s;
}

.fa-eye:hover,
.fa-pencil:hover {
    /*	color: #007bff;*/
    /*	transition-duration: .3s;*/
}

.fa-close,
.fa-ban {
    color: red;
}

.fa-close:hover,
.fa-ban:hover {
    color: red;
    transition-duration: 0.3s;
}

.add_btn {
    color: #fff !important;
}

.add_comp {
    color: #007bff;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.no_pad {
    padding: 0;
}

.dashboard_tabs .input-group-text {
    background: #21409a;
    /*	background: #007bff;*/
    /*	background: #21409A;*/
    color: #fff;
}

.propic {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.propic + label {
    width: 100%;
    /*	padding: 80px 40px;*/
    box-sizing: border-box;
    /*	border-radius: 5px;*/
    /*    background: #fff;*/
    /*	text-align: center;*/
    font-size: 13px;
    color: #737373;
    font-weight: 400;
    /*	border: #e3e3e3 solid 1px;*/
    cursor: pointer;
    display: block;
}

.upload_documt {
    overflow: hidden;

    position: relative;

    font-weight: 400;
}

.upload_documt [type="file"] {
    cursor: inherit;

    display: block;

    font-size: 999px;

    filter: alpha(opacity=0);

    min-height: 100%;

    min-width: 100%;

    opacity: 0;

    position: absolute;

    right: 0;

    text-align: right;

    top: 0;
}

.tables {
    width: 100%;
}

.tables thead {
    background: #90c744 !important;
    color: #fff;
}

.table thead th {
    vertical-align: middle;
}

.tbl_brdr {
    margin: 5px 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.custom_cont_wrapper {
    background: #fff;
}

.card_cutom {
    background: #f4f6f9;
}

.toggle-group .btn-success {
    color: #fff !important;
}

.grey_bg {
    background: #e9ecef;
}

#contact_modal {
    width: 75%;
    margin: 0 auto;
}

#contact_modal label {
    padding-top: 10px;
    text-align: left !important;
}

#contact_modal .fa {
    font-size: 24px;
    padding-top: 10px;
}

iti-flag {
    background-image: url("dist/img/flags.png");
}

.iti-flag {
    background-image: url("dist/img/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("dist/img/flags@2x.png");
    }
}

.intl-tel-input {
    width: 100%;
}

.comp_det_view .nav-pills .nav-link.active {
    background: #f9a13d;
    color: #fff;
}

.comp_det_view .nav-pills .nav-link {
    color: #fff;
    transition-duration: 0.3s;
    padding: 3px 15px;
}

.comp_det_view .card-title {
    padding: 10px 10px !important;
}

.comp_det_view .nav-pills .nav-link:hover {
    color: #fff;
    transition-duration: 0.3s;
}

.edit_comp {
    margin-left: 20px;
    color: #fff;
    transition-duration: 0.3s;
    font-size: 12px;
}

.edit_comp:hover {
    color: #000;
    transition-duration: 0.3s;
}

.comp_det_view .tab-content {
    margin: 0;
}

.sub_tabs .nav-pills {
    margin: 0 auto;
}

.sub_tabs .card-header {
    background: #2e3236 !important;
}

.sub_tabs .nav-pills .nav-link.active {
    color: #fff;
    background: #21409a;
}

.st_blue {
    background: #21409a;
}

.st_green {
    background: #90c644;
}

.stages {
    border-radius: 50px;
    color: #fff;
    padding: 5px 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

.st_black {
    background: #000000;
}

.mycompanytbl {
    border: 0 !important;
}

.mycompanytbl > tbody > tr > td {
    border: 0 !important;
}

.lne {
    width: 50px;
    height: 2px;
    background: #888888;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}

.brdr {
    border-bottom: red solid 2px;
}

.st_grey {
    background: #dddddd;
}

.st_orange {
    background: #f9a13d;
}

.comp_det_view .card-body {
    background: #fff;
    /*	background: #f5f5f5;*/
}

.comp_det_view .data_list {
    position: relative;
}

.print_opt {
    background: #f7f7f7;
    border: #ccc solid 1px;
    padding: 3px 30px;
    box-sizing: border-box;
    position: absolute;
    left: -40px;
    top: 30px;
    border-radius: 5px;
}

.print_opt a {
    display: block;
}

.print_opt a:hover {
    color: #fc5b00;
}

.close {
    color: #fff;
    transition-duration: 0.3s;
}

.close:hover {
    color: #fff;
    opacity: 1;
    transition-duration: 0.3s;
}

.comp_det_view .table thead th {
    background: #999;
}

.sbmt_btn button,
.cncl_btn button {
    width: 100%;
}

.upload_documt {
    font-size: 10px !important;
}

.modal-dialog {
    max-width: 90%;
}

.modal {
    /*z-index: 9999999;*/
    z-index: 11;
}

.main-header {
    z-index: 11;
}

.modal-backdrop {
    z-index: 1;
}

.no_padding {
    padding: 0;
}

.daterangepicker.dropdown-menu {
    z-index: 11111111 !important;
}

#upld {
    /*	width: auto;*/
    width: 100%;
}

.cardNewHeader {
    background: #21409a !important;
}

.cardNewHeader .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #8bc33a;
    border: #fff solid 1px;
}

.cardNewHeader .nav-pills .nav-link {
    background-color: #68c2d0;
    margin: 0 5px;
    color: #fff;
}

.nav-pills .nav-link:not(.active):hover {
    color: #fff;
}

.new_card_body {
    padding: 0 20px;
    box-sizing: border-box;
}

.form-control {
    border: 1px solid #ced4d9;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 4px);
}

.cal_table {
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border: #dfe3e7 solid 1px;
}

.btn_cal {
    width: 40%;
    margin: 0 auto;
    font-weight: 700;
}

.cal_table h5 {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cal_tbl_div tr td,
.cal_tbl_div tr th {
    padding: 0;
}

.cal_tbl_div tr:nth-child(even) {
    background: #e5f7fd;
}

.full_lbl label {
    width: 100%;
}

.full_lbl label span {
    text-align: right;
    float: right;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 400;
}

.btn_search {
    width: 100%;
    background: #f9a03c;
    color: #fff;
    transition-duration: 0.3s;
}

.btn_search:hover {
    /*background: #e98b20;*/
    background: #cc7819;
    transition-duration: 0.3s;
    color: #fff;
}

.availableAuditorTable tr th {
    background: #21409a;
    color: #fff;
}

.availableAuditorTable tr:hover {
    transition-duration: 0.3s;
    background: #f9a03c !important;
    color: #fff;
    cursor: pointer;
}

.availableAuditorTable tr:nth-child(odd) {
    background: #f2fbfe;
}

.results_answer {
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
}

.callout span {
    color: #21409a;
    float: right;
    font-size: 22px;
}

.callout.callout-warning {
    border-left-color: #21409a;
    padding: 8px 10px;
    box-sizing: border-box;
}

.info-box-text {
    font-weight: 300 !important;
    line-height: 30px;
    color: #fff;
}

/*.info-box
{
	min-height: 100px;
}*/
.info-box-text span {
    display: block;
}

.info-box-links {
    text-align: right;
}

.info-box-links ul {
    list-style: none;
    margin: 0;
}

.info-box-links ul li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 5px;
}

.info-box-links ul li i {
    margin-right: 5px;
}

.info-box-links ul li a {
    color: #fff;
    transition-duration: 0.3s;
}

.info-box-links ul li a:hover {
    border-bottom: #fff solid 3px;
    transition-duration: 0.3s;
    padding-bottom: 2px;
}

.info_box_blue {
    background: #21409a;
    transition-duration: 0.3s;
}

.info_box_blue:hover {
    /*box-shadow: 1px 1px 15px #21409a;*/
    background: #162961;
}

.info-box {
    padding: 0;
}

.info_box_green {
    background: #8bc33a;
    transition-duration: 0.3s;
}

.info_box_green:hover {
    box-shadow: 1px 1px 15px #8bc33a;
}

.info_box_orange {
    background: #f9a03c;
    transition-duration: 0.3s;
}

.info_box_orange:hover {
    box-shadow: 1px 1px 15px #f9a03c;
    transition-duration: 0.3s;
}

#createModal,
#viewModal,
#createManDayModal {
    width: 60%;
    margin: 0 auto;
}

.modal-title i {
    margin-right: 10px;
}

.modal-header {
    padding: 5px 10px;
}

#createModal .modal-body label,
#viewModal .modal-body label {
    display: block;
}

.modal_checkbox {
    display: block;
}

#viewModal input[type="search"] {
    height: 40px;
}

#viewModal .table-striped tbody tr:nth-of-type(odd) {
    background: #fff;
}

#viewModal .table-striped tbody tr:nth-of-type(even) {
    background: #f2fbfe;
}

#viewModal .table thead th {
    background: #8ec53e !important;
    color: #fff;
}

#viewModal .table tbody tr {
    transition-duration: 0.3s;
}

#viewModal .table tbody tr:hover {
    background: #f9a03c;
    color: #fff;
    transition-duration: 0.3s;
    cursor: pointer;
}

.card-header {
    background: #4583c4 !important;
}

.tables thead,
.comp_det_view .table thead th {
    background: #21409a !important;
}

.aj_view_icon {
    float: right;
}

#viewAllAJ {
    width: 50%;
    margin: 0 auto;
}

.full_lbl select {
    height: 160px;
}

.proposed_team_tbl tr:nth-child(odd) {
    background: #e5f7fd;
}

.print_table {
    text-align: right;
}

.print_table a {
    font-size: 28px;
    color: #21409a;
}

.view_manday {
    text-align: right;
}

.view_manday a {
    font-size: 16px;
}

.manday_tbl tr th {
    background: #90c744;
    color: #fff;
}

.manday_tbl tr:nth-child(odd) {
    background: #e5f7fd;
}

.custom_callout {
    width: 100%;
    padding: 10px 10px !important;
    box-sizing: border-box;
    border-left: #f9a03c solid 5px !important;
}

.custom_callout span {
    font-size: 16px;
}

.chat_box {
    border: #ccc solid 1px;
    padding: 0;
}

.direct-chat-text {
    padding: 0;
    background: none;
    border: 0;
    margin: 0;
}

.direct-chat-text:after,
.direct-chat-text:before {
    display: none;
}

.results_answer {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.dashboard_tabs label a {
    font-size: 12px;
}

.mayDayModal .nav-item {
    text-align: center;
    width: 32%;
    margin-right: 1%;
}

.mayDayModal .nav-pills .nav-link.active {
    background: #21409a;
    color: #fff;
}

.mayDayModal .nav-pills .nav-link {
    border: #21409a solid 2px;
    color: #21409a;
    transition-duration: 0.3s;
}

.mayDayModal .nav-pills .nav-link:not(.active):hover {
    color: #fff;
    background: #21409a;
    transition-duration: 0.3s;
}

.foodFamilyTable .availableAuditorTable {
    text-align: center;
}

.manday_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.manday_list ul li {
    display: inline-block;
    margin: 0 10px;
}

.manday_list ul li a {
    color: #21409a;
    font-size: 20px;
}

.trash_icon {
    color: red !important;
}

.foodFamilyTable .pagination {
    float: right;
}

.downloadButton {
    width: 30%;
    float: right;
    display: block;
}

#createManDayModal {
    /*	overflow: hidden !important;*/
}

.mayDayModal {
    overflow-y: scroll;
    height: 700px;
}

#createManDayModal {
    width: 80%;
}

.viewModal2 {
    width: 80% !important;
}

.iaf_select {
    overflow: scroll !important;
}

#partialModal,
#sendPopup {
    width: 50%;
    margin: 0 auto;
}

.multiselect {
    width: 100%;
    position: relative;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    /* display: none; */
    border: 0;
    top: 10px;
    position: absolute;
    width: 100%;
    padding: 0 15px;
    height: 100px;
    overflow: scroll;
}

#checkboxes label {
    display: block;
    font-weight: 400 !important;
    width: 120%;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#checkboxes input[type="checkbox"] {
    margin-right: 10px;
}

#myModal .modal-dialog,
.customModal .modal-dialog {
    width: 60% !important;
}

.dashboard_tabs .nav-tabs li a {
    padding: 15px 5px;
}

.uploadAdd a {
    display: inline-block;
    font-size: 16px;
    /*	margin-left: 20px;*/
}

.customModal2 .modal-dialog {
    width: 30% !important;
}

.customModal2 #checkboxes label {
    width: 100%;
    overflow: hidden;
}

.reportsTable {
    width: 100%;
}

.reportsTable {
    text-align: center;
}

.reportsTable2 {
    width: 100%;
}

.reportsTable3 .table {
    width: 100% !important;
}

.reportsTable2 {
    text-align: center;
}

.reportsTable2 tr td,
.reportsTable2 tr th,
.reportsTable tr td,
.reportsTable tr th,
.foodFamilyTable tr th {
    vertical-align: middle;
}

.reportsTable2 tr:nth-child(odd) {
    background: none;
}

.reportsTable2 tr:hover {
    transition-duration: 0.3s;
    background: none !important;
    color: #000;
}

.blu_clr {
    color: #21409a;
    font-weight: 700;
}

.createModalCss label {
    display: inline-block !important;
}

.createModalCss {
    width: 80% !important;
    margin: 0 auto;
}

.reportsModal {
    width: 100% !important;
}

#teamauditors,
#teamauditors_stage1,
#teamauditors_stage2 {
    background: #fff;
    border: #ccc solid 1px;
    height: 110px;
    overflow: auto;
    padding: 5px 5px;
}

#teamauditors label,
#teamauditors label,
#teamauditors_stage2 label {
    width: 130%;
}

.removeBtnCompany {
    padding: 9px 12px;
}

@media screen and (max-width: 1920px) {
    .reportsTable {
        width: 100% !important;
        overflow-x: scroll !important;
    }

    .reportsTable .table {
        width: 100% !important;
        max-width: 100% !important;
    }

    .reportsTable2 .table {
        width: 100% !important;
        max-width: 100% !important;
    }

    .reportsTable3 .table {
        width: 100% !important;
    }

    .reportsTablePop .table {
        max-width: 160% !important;
        width: 160% !important;
    }
}

.cardHead {
    background: #e9ecef !important;
    color: #000 !important;
    position: relative;
}

.cardHead h3 {
    font-size: 14px !important;
    text-align: left;
}

.products-list {
    padding: 0 !important;
}

.products-list .item {
    background: #e9ecef !important;
}

.cardHead > .card-tools {
    top: 0;
}

.iconClose {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
}

.cardMargin {
    margin-top: 30px;
}

.barText h5 {
    margin-top: -6px;
    font-size: 23px;
    color: #21409a;
    font-weight: 700;
}

.barColor {
    background-color: #21409a !important;
}

.codesDiv .fa {
    font-size: 32px;
}

.cardDocument .info-box {
    padding: 60px 0;

    text-align: center;
}

.info_box_grey {
    background: #c2c7d0;
    transition-duration: 0.3s;
}

.info_box_grey:hover {
    box-shadow: 1px 1px 15px #c2c7d0;
    transition-duration: 0.3s;
}

.job_status {
    font-weight: 400 !important;
}

.downloadNav {
    padding: 10px 20px;
    box-sizing: border-box;
}

.downloadNav i {
    font-size: 34px;
}

.downloadNav .nav-pills .nav-link:hover {
    color: #000;
}

.downloadNav .nav-pills .nav-link.active:hover {
    color: #fff;
}

.downloadNav a {
    font-size: 14px;
}

.downloadNav h4,
.downloadNav h6 {
    margin: 0;
}

#createManDayModal {
    width: 100%;
}

.codesModal .modal-dialog {
    max-width: 60%;
}

.modal #checkboxes {
    /*	overflow-x: hidden;*/
}

.dropdown-menu-lg {
    /*min-width: 420px;*/
    /*max-width: 420px;*/
    min-width: 800px;
    max-width: 800px;
    padding: 0;
}

.notify {
    background: #21409a;
    padding: 3px 10px;
    color: #fff !important;
    box-sizing: border-box;
    border-radius: 8px;
}

.standardsFontSize {
    font-size: 12px;
}

.downloadNav {
    width: 100%;
}

.cardHead {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.downloadNav .btn-tool i {
    font-size: 22px;
    color: #adb5bd;
}

.downloadNav .nav-pills,
.downloadNav .tab-content {
    width: 100%;
}

.downloadNav p {
    margin-bottom: 0;
}

.tableHeader {
    background: #21409a !important;
    text-align: center;
    color: #fff;
}

.mycompanytblCustom {
    text-align: center;
}

.tableSubHeader {
    font-weight: 700;
    background: #f4f6f8;
    /*	background: #ebebeb;*/
}

.tableNoBg td {
    background-color: #fff !important;
}

.tblBtn {
    background: #4583c4;
    /*	background: #21409a;*/
}

.mycompanytblCustom > tbody > tr > td,
.mycompanytblCustom > thead > tr > th {
    border: 1px solid #dee2e6 !important;
}

.auditJustificationTable p {
    font-weight: 700;
    font-size: 18px;
}

.auditJustificationTable p a {
    color: #000;
}

.auditJustificationTable p span {
    font-weight: 400;
}

.printAj {
    font-size: 28px;
    color: #21409a !important;
}

.direct-chat-messages {
    height: 200px;
}

.tableHeaderOrng {
    background: #d4d8dc !important;
    color: #000 !important;
}

.auditJustificationTable p {
    margin-bottom: 0;
}

.tableNoBg td {
    position: relative;
}

.removeRow {
    position: absolute;
    top: 0px;
    right: 6px;
}

.rowBgGrey {
    background: #f4f6f9;
    padding: 15px 0;
}

.auditActivity {
    background: #fff;
}

.auditActivity h6 {
    font-weight: 400;
}

.auditActivity p {
    margin-bottom: 0;
}

.auditActivity .trash_icon {
    margin-left: 50px;
}

.changeStatus p {
    font-weight: 700;
    font-size: 18px;
}

.changeStatus p span {
    font-weight: 400;
}

.changeStatus .input-group-text {
    background: #21409a;
    color: #fff;
}

.changeStatus .card {
    width: 100%;
}

.changeStatus .btn-tool {
    padding: 0 0.5rem;
    color: #fff;
}

.auditActivity p span {
    color: #495057;
}

.trash_list p {
    font-weight: 400;
}

.filesUploadColor .linkClr {
    color: #007bff !important;
}

.sidebar-dark-primary {
    background-color: #2e3236;
}

.user-panel {
    border-bottom: 1px solid #53585d !important;
    padding: 0;
    margin: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 9px !important;
}

.info span {
    display: block;
    color: #8d8d8d;
}

.user-panel .image {
    padding-top: 10px;
}

.sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link,
.sidebar-dark-primary .nav-sidebar > .nav-item:hover > .nav-link {
    color: #fff;
    background-color: #4583c4;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #4583c4;
}

.navbar-light .navbar-nav .nav-link {
    color: #2e3236;
}

.sidebar .nav-link p {
    color: #c0c5ce !important;
}

.sidebar-dark-primary .sidebar a {
    color: #c0c5ce !important;
    margin-bottom: 5px;
}

.nav-link {
    padding: 10px 1rem;
}

.navbar {
    padding: 13px 0.5rem;
}

.custom_cont_wrapper,
.wrapper {
    background: #f4f6f8;
}

.border-bottom {
    border-bottom: 1px solid #e8e8e8 !important;
}

.card-header {
    border: none !important;
}

.comp_det_view .nav-item {
    margin: 0 5px;
    border: #fff solid 1px;
    border-radius: 6px;
}

.h1,
h1 {
    font-size: 26px;
    color: #2e3236;
}

.dashboard_tabs label span {
    color: #707070 !important;
}

.sub_tabs .nav-pills .nav-link.active {
    background: #4583c4;
}

.sub_tabs .nav-pills .nav-link {
    background: #404449;
    color: #c0c5ce;
}

.sub_tabs .nav-item {
    border: 0 !important;
}

.emp_lbl label {
    color: #2e3236 !important;
}

.labelClr label {
    color: #707070;
}

.popup_info h5 {
    color: #4583c4;
}

.trash_list p a {
    font-size: 14px;
}

.popupLbl label {
    color: #4583c4;
    font-size: 17px;
}

.popupLbl label span {
    color: #707070 !important;
}

.trash_list p {
    margin: 0;
}

.dashboard_tabs .input-group-text {
    background: #4583c4 !important;
}

/*Media Queries*/
@media screen and (max-width: 1400px) {
    .dashboard_tabs label {
        font-size: 14px;
    }

    .mycompanytblCustom > tbody > tr > td,
    .mycompanytblCustom > thead > tr > th {
        font-size: 10px;
    }

    .btn {
        /*		padding: 9px 0;*/
        text-align: center;
        font-size: 12px;
        /*		width: 100%;*/
    }

    .btn_search {
        padding: 7px 0;
    }

    .tblBtn {
        width: 100%;
    }
}

.multiselect-native-select .btn-group {
    display: block;
}

.multiselect-native-select .btn-group button {
    text-align: left;
}

.multiselect-container {
    height: 200px;
    overflow-y: scroll;
    width: 100%;
}

.standardCodesTable {
    display: none;
    height: 200px;
    overflow-y: scroll;
}

.js-example-basic-multiple {
    display: inline !important;
}

#toast-container {
    z-index: 9999999999;
}

#loader {
    z-index: 999999999 !important;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 88% !important;
    margin-bottom: 0;
}

.input-group > .datefield {
    width: 86% !important;
}

.add-btn {
    margin-top: 30px;
    font-size: 15px;
    padding: 10px 13px;
}

.noMarginBtmBtn {
    margin-bottom: 0;
}

.fontIconMedia i {
    font-size: 12px;
}

.font-size-15 {
    font-size: 15px;
}

.color-red {
    color: #ff0505;
}

.modal-header {
    background: #21409a;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #21409a;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active p {
    color: #fff !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: #21409a solid 1px;
    background: #21409a;
    color: #fff !important;
    transition-duration: 0.3s;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #4583c4;
    transition-duration: 0.3s;
    border: #4583c4 solid 1px;
    color: #fff !important;
}

.fa:hover {
    /*color: inherit;*/
}

.dataTables_wrapper .dataTables_filter input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-sidebar {
    z-index: 1;
}

.select2-container .select2-selection--multiple {
    padding: 0.19rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ul.select2-choices {
    padding-right: 30px !important;
}

ul.select2-choices:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.full_lbl .select2-container .select2-selection--multiple {
    padding: 0rem 0.75rem !important;
}

.customFullBtn .btn {
    width: 100%;
}

.list-group {
    height: 120px;
    overflow: overlay;
    background: #fff;
}

.list-group .list-group-item {
    padding: 2px 10px 2px 10px;
    border-radius: unset;
    color: #495057;
}

.scrollableTable {
    overflow-x: scroll;
}

.scrollableTable table {
    width: 140% !important;
    max-width: 140% !important;
}

.btn_save i {
    font-size: 26px;
}

.small-box a {
    padding: 10px;
    display: block;
}

.disabledDiv {
    pointer-events: none;
    opacity: 1.4;
}

.modal-footer .btn_save i {
    font-size: 18px;
    margin-right: 1px;
}

.addBtnResponsive {
    margin-top: 29px;
    font-size: 15px;
    padding: 7px 13px;
}

.logOutBtn {
    background: #21409a;
    color: #fff;
    border: #21409a solid 1px;
    transition-duration: 0.3s;
}

.logOutBtn:hover {
    background: #0d1838;
    border: #0d1838 solid 1px;
    transition-duration: 0.3s;
}

.user-panel .info {
    padding: 18px 5px 5px 10px;
}

.buttons-excel {
    background: #21409a;
    color: #fff;
    border: #21409a solid 1px;
    width: 10%;
    padding: 8px 0;
}

.scrollNoti {
    height: 300px;
    overflow-y: scroll;
}

textarea {
    resize: none;
}

.dataTables_length {
    margin-top: 10px;
}

.input-group input {
    border-left: 0;
}

.data_list a {
    margin-left: 0 !important;
}

.select2-container--default .select2-selection--multiple {
    padding: 0;
}

.btn-danger:hover {
    background-color: #a11a27;
    border-color: #a11a27;
}

.card-title a {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    display: block;
    text-align: left;
    padding: 0;
    color: #fff;
}

.card-title a span {
    float: right !important;
}

.card .card-header .btn-header-link.collapsed {
    /* background: #A541BB; */
    color: #fff;
}

.card .card-header .btn-header-link.collapsed:after {
    content: "\2193";
}

.card .card-header .btn-header-link:after {
    /* symbol for "opening" panels */
    /* font-family: 'Glyphicons Halflings';  essential for enabling glyphicon */
    content: "\2191"; /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* color: grey;         adjust as needed */
}

/*
.card .card-header a{
    float: right;
    padding: 0;
} */
button:focus {
    outline: none;
}

.navbar-badge {
    top: 4px;
    right: 5px;
    font-weight: 700;
    font-size: 14px;
}

#chartContainer {
    width: 100% !important;
    max-width: 100% !important;
}

.dt-buttons {
    padding-right: 10px;
    float: left;
}

.buttons-excel {
    width: 100px;
}

.dataTables_filter input:focus {
    outline: 0;
}

.select2-container--default .select2-selection--multiple {
    height: 38px;
    /*height: 105px;*/
    overflow-y: scroll;
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default .select2-selection--single {
    height: 38px !important;
}

.comp_det_view .card-title a {
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
}

.add_comp i {
    font-size: 14px;
}

.dataTables_length {
    margin-top: 0;
}

.dataTables_length select {
    padding: 8px 0;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.navbar-expand .navbar-nav .dropdown-menu {
    /* position: absolute;
      left: 0;
      text-align: center; */
    width: 100%;
}

.navbar-expand .navbar-nav .dropdown-menu li {
    border-bottom: #000 solid 1px;
    padding-bottom: 5px;
}

.navbar-expand .navbar-nav .dropdown-menu li:last-child {
    border-bottom: 0;
}

.userProfileSettings ul {
    text-align: center !important;
}

.dropdown-toggle::after {
    position: relative;
    top: 3px;
}

.content-header h1 {
    font-size: 1.7rem;
}

#faq3 .nav-tabs {
    border-bottom: none;
}

.add_contact,
.remove_contact {
    padding: 11px 12px;
}

.remove_other_location {
    padding: 9px 12px;
}

.fa-briefcase {
    padding-top: 0 !important;
}

.dashboard_tabs .nav-tabs li a {
    padding: 18px 5px;
}

.code_footer {
    padding: 1rem 0;
}

.code_footer .col-md-12 {
    padding: 0;
}

.company_standards .no_padding {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.standard_questionnaire .modal-footer {
    padding: 1rem 35px;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    width: 25% !important;
    margin: 0 auto !important;
}

.cardNewHeader a {
    display: inline-block;
    font-size: 16px;
}

.formUploadBtnHeightFix .btn-success {
    padding: 10px 20px;
    border-radius: 0;
}

.dataNextLine label span {
    display: block;
}

.card-header {
    position: relative;
}

.card-header > .card-tools {
    position: absolute;
    right: 10px;
    top: 3px;
}

.noBorder {
    border-left: 1px solid #ced4d9 !important;
}

@media screen and (max-width: 1600px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 70px;
    }

    .dashboard_tabs .nav-tabs .col-md-2::after {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 60px;
    }

    .stnd_lines label::after {
        right: 33%;
    }

    .stnd_lines label::before {
        left: 32%;
    }

    .stnd_lines2 label::after {
        right: 28%;
    }

    .stnd_lines2 label::before {
        left: 28%;
    }

    .uploadPopupBtn {
        font-size: 14px !important;
    }

    .content-header h1 {
        font-size: 24px;
    }

    .input-group > .custom-file,
    .input-group > .custom-select,
    .input-group > .form-control {
        width: 87% !important;
    }

    .customRefreshBtn {
        height: auto !important;
    }

    .btn_save i {
        font-size: 19px;
    }
}

@media screen and (max-width: 1336px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 50px;
    }

    .dashboard_tabs .nav-tabs li::after {
        left: 120px;
    }

    .input-group > .custom-file,
    .input-group > .custom-select,
    .input-group > .form-control {
        width: 81% !important;
    }

    .job_status {
        display: block;
        font-size: 12px !important;
    }

    .stnd_lines2 label::after {
        right: 25%;
    }

    .stnd_lines2 label::before {
        left: 25%;
    }

    .stnd_lines label::after {
        right: 32%;
    }

    .auditJustificationTable p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1280px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 40px;
    }

    .dashboard_tabs .nav-tabs li::after {
        left: 110px;
    }

    .info-box-text {
        line-height: 25px;
        font-size: 21px;
    }

    .info-box-links ul {
        padding: 0;
        font-size: 12px;
    }
}

@media screen and (max-width: 1150px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 25px;
    }

    .dashboard_tabs .nav-tabs li::after {
        left: 100px;
    }

    .select2 {
        width: 100% !important;
    }

    .select2-container .select2-selection--multiple {
        padding: initial;
    }

    .content-header h1 {
        font-size: 22px;
    }

    label {
        font-size: 12px;
    }

    .table-bordered td,
    .table-bordered th {
        font-size: 12px;
    }

    .dashboard_tabs label {
        font-size: 12px;
    }

    .results_answer {
        font-size: 12px;
        line-height: 17px;
    }

    input[type="search"] {
        margin-bottom: 10px;
    }

    .dashboard_tabs label span {
        font-size: 9px !important;
    }

    #stepTab4 .standard_selection label {
        font-size: 11px;
    }

    .companyScrollTable {
        overflow-x: scroll;
    }

    .responsiveTabs .nav-link {
        padding: 4px 10px !important;
        font-size: 12px !important;
    }

    .stnd_lines label::after {
        right: 25%;
    }

    .stnd_lines label::before {
        left: 25%;
    }

    .stnd_lines2 label::after {
        right: 15%;
    }

    .stnd_lines2 label::before {
        left: 15%;
    }

    .table td,
    .table th {
        font-size: 12px;
    }

    .auditJustificationTable p {
        font-weight: 700;
        font-size: 12px;
    }

    .lengthScrollTable {
        overflow-x: scroll;
    }

    .lengthScrollTable table {
        max-width: 130%;
        width: 130%;
    }

    .info-box-links ul li {
        margin: 0 4px;
    }

    .small-box p {
        font-size: 14px;
    }

    .availableAuditorTable tr th {
        font-size: 14px;
    }

    .downloadNav i {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 45px;
    }

    .dashboard_tabs .nav-tabs li::after {
        left: 120px;
    }
}

@media screen and (max-width: 960px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 35px;
    }

    .dashboard_tabs .nav-tabs li::after {
        left: 110px;
    }

    .dashboard_tabs label {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 25px;
    }

    .dashboard_tabs .nav-tabs li::after {
        left: 100px;
    }

    .modal-dialog {
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .dashboard_tabs .nav-tabs li {
        margin: 0 13px;
    }

    .dashboard_tabs .nav-tabs li::after {
        left: 87px;
    }

    .dashboard_tabs .nav-tabs .col-md-2 {
        float: left;
        width: 16%;
    }

    .stnd_lines label::before,
    .stnd_lines label::after,
    .stnd_lines2 label::before,
    .stnd_lines2 label::after {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .dashboard_tabs .nav-tabs li::after {
        display: none;
    }

    .dashboard_tabs .nav-tabs .col-md-2 {
        float: left;
        width: 33%;
        text-align: center;
    }

    .dashboard_tabs .nav-tabs li {
        margin: 10px 2px;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .dashboard_tabs .nav-tabs .col-md-2 {
        float: left;
        width: 33%;
        text-align: center;
    }

    .modal-dialog {
        max-width: 100%;
    }

    .tables {
        overflow: scroll;
        width: 200%;
    }
}

@media screen and (max-width: 450px) {
    .form-inline {
        display: none;
    }

    .nav-tabs1 {
        display: none;
    }

    .nav-tabs2 {
        display: inline-block;
    }

    .dashboard_tabs .nav-tabs2 li a {
        font-size: 18px;
        width: 50px;
        height: 50px;
    }
}

.fontSize {
    font-size: 20px;
}

.addScroll {
    height: 500px !important;
    overflow-y: auto !important;
}

.permissionsScroll {
    height: 496px;
    overflow-y: auto;
}

.teamMemberInline label {
    width: auto !important;
    display: inline-block;
    margin-right: 10px;
}

.teamMemberInline a {
    display: inline-block;
}

.notificationActive .nav-tabs .active {
    background-color: #2e3236 !important;
    border-color: #2e3236 !important;
}

.navbar-nav .dropdown-menu {
    right: 0 !important;
}

.fa-bell {
    font-size: 20px;
}

.fa-briefcase {
    padding-top: 5px;
}
